# Try to automatically figure out which files are text and which binary
* text=auto

# Explicitly declare source files as text
*.cpp text
*.cxx text
*.cc  text
*.c   text
*.hpp text
*.hxx text
*.hh  text
*.h   text
*.inl text
*.ixx text
*.ii  text
*.i   text

# also 3D input files
*.ray text
*.nff text
*.obj text
*.mtl text

# and just plain text files
*.txt text


# Treat visual studio files as binary (even though they're not)
*.sln       binary
*.csproj    binary
*.vbproj    binary
*.vcxproj   binary
*.vcproj    binary
*.dbproj    binary
*.fsproj    binary
*.lsproj    binary
*.wixproj   binary
*.modelproj binary
*.sqlproj   binary
*.wwaproj   binary
*.xproj     binary
*.props     binary
*.filters   binary
*.vcxitems  binary

# Image files are binary too
*.png binary
*.jpg binary
*.ppm binary
*.pam binary
